.App {
  background-color: #000000;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 25fr;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(252, 248, 248);

}

.Body {
  display: grid;
  grid-template-columns: 1fr 5fr 20fr;
  max-width: 2440px;
}

.Search {
  text-align: center;
  padding-right: 24px;
}

.Menu {
  text-align: center;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  margin-right:1px;
  padding:1px;
  padding-top: 48px;
}

.Sidebar {
  text-align: center;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  margin-right: 1px;
  margin-left: 1px;
  padding-bottom: 16px;
}

.Main {
  text-align: center;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  margin-left: 1px;
  padding:24px;
}
